:root {
    --dark-grey: rgb(40,40,40);
    --med-grey: rgb(60,60,60);
    --light-med-grey: rgb(70,70,70);
    --light-grey: rgb(80,80,80);

    --nav-border-size: 0.2rem;
    --nav-minus-margin-size: -0.2rem;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}
.col {
    padding:0;
    margin: 0;
}

.screen-size {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.full-size {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
}

.navtab{
    background-color: var(--light-grey);
}

.custom-nav-items{
    background-color: var(--med-grey);
    border: 0;
    border-bottom: var(--nav-border-size) var(--dark-grey) solid;
}

.custom-nav-items .nav-link{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0;
    color:white; 
    background-color: var(--med-grey);
    border: var(--nav-border-size) var(--dark-grey) solid;
    border-left: 0;
    margin-bottom: var(--nav-minus-margin-size);
}
.custom-nav-items:hover .nav-link:hover{
    cursor: pointer;
    border: var(--nav-border-size) var(--dark-grey) solid;
    border-bottom: var(--nav-border-size) var(--med-grey) solid;
    border-left: 0;
    background-color: var(--light-grey);
    color: white;    
}

.custom-nav-items .nav-link.active,.custom-nav-items .nav-link.active:hover{
    border: var(--nav-border-size) var(--dark-grey) solid;
    border-left: 0;
    border-bottom: var(--nav-border-size) var(--light-grey) solid;
    background-color: var(--light-grey);
    color: white;    
}

.chart{
    background-color: var(--dark-grey);
}

.form-control, .btn{
    /* PADDING */
    padding: 0.3rem;
    padding-top: 0;
    padding-bottom: 0;
    /* MARGIN */
    margin: 0.1rem;
    /* OTHER */
    color:white;
    border-radius: 0;
    background-color: var(--dark-grey);
    border: var(--dark-grey) solid;
}


.form-control:hover, .btn:hover{
    color:white;
    border-radius: 0;
    background-color: var(--med-grey);
    border-bottom: var(--dark-grey) solid;
    border-right: var(--dark-grey) solid;
    border-top: var(--light-grey) solid;
    border-left: var(--light-grey) solid;
}

.form-control:focus{
    color:white;
    border-radius: 0;
    background-color: var(--med-grey);
    border-top: var(--dark-grey) solid;
    border-left: var(--dark-grey) solid;
    border-bottom: var(--light-grey) solid;
    border-right: var(--light-grey) solid;
}

.form-control::placeholder, .btn::placeholder{
    color: var(--light-grey);
}

.incorrect-input{
    border-color: red;
}
.incorrect-input:focus {
    border-color: red;
}

.color-input{
    width: 1.2rem;
    height: 1.2rem;
    padding:0;
    margin:0;
    border: var(--nav-border-size) var(--med-grey) solid;
    background-color: var(--light-grey);
}
.color-input:hover{
    border: var(--nav-border-size) var(--dark-grey) solid;
    border-bottom: var(--nav-border-size) var(--light-grey) solid;
    border-right: var(--nav-border-size) var(--light-grey) solid;

    background-color: var(--light-grey);
}

.item-name{
    color: white;
    margin:0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.value{
    margin:0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-style: italic;
}
.negative-value{
    color:rgb(255, 169, 169);
}
.positive-value{
    color:rgb(182, 255, 182);
}

.on-right{
    text-align: right;
    margin-left: auto;
}

.width-auto{
    width: auto;
}
.right-input{
    width: 5rem;
}

.line-through {
    text-decoration: line-through;
}

.med-grey-hover:hover{
    background-color: var(--med-grey);
}

.light-med-grey-hover:hover{
    background-color: var(--light-med-grey);
}
