:root {
    --grey-30: rgb(30,30,30);
    --grey-40: rgb(40,40,40);
    --grey-50: rgb(50,50,50);
    --grey-60: rgb(60,60,60);
    --grey-70: rgb(70,70,70);
    --grey-80: rgb(80,80,80);
    --grey-90: rgb(90,90,90);

    --border-small: 0.1rem;
    --border-big: 0.2rem;

    font-family: sans-serif;
    font-size: 1rem;
    color: white;
    background-color: var(--grey-80);
}
body{
    margin:0;
}


/* SIZE */
.screen-size{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}
.full-size{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
/* !SIZE */


/* FLEX */
.flex{
    display: flex;
}
.flexy{
    display: flex;
    flex-direction: column;
}
.flex-grow{
    flex: 1 1 0;
}
.flex-nowrap{
    white-space: nowrap;
    flex-wrap: nowrap;
}
/* !FLEX */

/* POSITION */
.justify-right {
    justify-content: right;
}
.justify-left {
    justify-content: left;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-self-right{
    justify-self: right;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.align-center{
    align-items: center;
}
.align-baseline{
    align-items: baseline;
}
.align-self-stretch{
    align-self: stretch;
}
.margin-left-auto {
    margin-left: auto;
}
.relative{
    position: relative;
}

/* !POSITION */

/* OVERFLOW */
.overflow-hidden{
    overflow: hidden;
}
.overflow{
    overflow: auto;
}
/* !OVERFLOW */


/* TABLE */
.table-container {
  overflow: auto; /* Enable scrolling */
}

table {
  /* border-collapse: collapse; */
  width: 100%;
  height: 100%;
}

th, td {
    border: 1px solid var(--grey-30);
}

th[status="hover"]{
    background-color: var(--grey-40);
}

td[status="hover"]{
    background-color: var(--grey-60);
}

thead th {
  position: sticky;
  top: 0;
  background-color: var(--grey-50);
  z-index: 1;
}

tbody th {
  position: sticky;
  left: 0;
  background-color: var(--grey-50);
  z-index: 1;
}

.table-top-left {
  position: sticky;
  left: 0;
  background-color: var(--grey-30);
  z-index: 2;
}
/* !TABLE */

/* CUSTOMIZATION */
.clickable {
    cursor: pointer;
}
/* !CUSTOMIZATION */


/* GENERAL ITEM */
.chart {
    background-color: var(--grey-40);
}
input, select{
    color: white;
    width: 100%;
    min-width: 4rem;
    height: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0.2rem;
    font-family: sans-serif;
    background-color: var(--grey-60);
    border: var(--border-small) var(--grey-80) solid;
    border-bottom-color: var(--grey-40);
    border-right-color: var(--grey-40);
}
input:hover, select:hover{
    background-color: var(--grey-50);
    border: var(--border-small) var(--grey-30) solid;
    border-bottom-color: var(--grey-70);
    border-right-color: var(--grey-70);
}
button{
    cursor: pointer;
    font-size: 1rem;
    color: white;
    padding: 0.2rem;
    margin: 0.2rem;
    background-color: var(--grey-60);
    border: var(--border-small) var(--grey-80) solid;
    border-bottom-color: var(--grey-40);
    border-right-color: var(--grey-40);
}
button:hover{
    background-color: var(--grey-50);
    border: var(--border-small) var(--grey-30) solid;
    border-bottom-color: var(--grey-70);
    border-right-color: var(--grey-70);
}
input[type="date"]{
    width: 7.5rem;
}
input[type="file"]{
    width: auto;
    height: auto;
}
.raw-text {
    text-decoration: none;
    font-weight: 100;
}
/* !GENERAL ITEM */

/* AREA ITEM */
.header {
    background-color: var(--grey-60);
    border-bottom: 0.3rem black solid;
    padding: 0.2rem;
}
.container-btns{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}
.container-menu{
    margin-top: 0.2rem;
    background-color: var(--grey-60);
    border: var(--border-big) var(--grey-80) solid;
    border-bottom: var(--border-big) var(--grey-40) solid;
    border-left: var(--border-big) var(--grey-40) solid;
}
.container-choice{
    cursor: pointer;
    padding-right: 1rem;
    padding-left: 1rem;
}
.container-choice:hover{
    background-color: var(--grey-80);
}
/* !AREA ITEM */

/* TAB MENU */
.tab-menu {
    box-sizing: border-box;
    background-color: var(--grey-60);
}
.tab-open {
    margin: 0.1rem;
    padding: 0.1rem;
    border: 1px var(--grey-30) solid;
    background-color: var(--grey-80);
}
.tab-btn{
    background-color: var(--grey-60);
    border: var(--border-small) var(--grey-80) solid;
    border-bottom-color: var(--grey-40);
    border-right-color: var(--grey-40);
}
.tab-btn:hover{
    background-color: var(--grey-50);
    border: var(--border-small) var(--grey-70) solid;
    border-bottom-color: var(--grey-30);
    border-right-color: var(--grey-30);
}
.tab-btn-active, .tab-btn-active:hover {
    background-color: var(--grey-50);
    border: var(--border-small) var(--grey-30) solid;
    border-bottom-color: var(--grey-70);
    border-right-color: var(--grey-70);
}
/* !TAB MENU */

/* HIERARCHY */
.hierarchy-product {
}
.hierarchy-folder {
}

.hierarchy-product:hover{
    background-color: var(--grey-40);
}
.hierarchy-folder:hover{
    background-color: var(--grey-60);
}
.hierarchy-input{
    background-color: var(--grey-60);
    padding:0;
    border:0;
    min-width: 15px;
    width: 15px;
    height: 15px;
}
.hierarchy-input:hover{
    border:0;
}
/* !HIERARCHY */