.container {
    padding: 0;
}

    /*==========\ 
    | DATE FORM |
    \==========*/

.date-form {
    width: auto;
    padding:2px;
    margin: 2px;
    border: 0;
    border-radius: 0;
    background-color: rgb(40, 40, 40);
    color: white    ;

}

    /*========\ 
    | NAV TAB |
    \========*/

.navtab{
    padding:0;
}

.custom-nav{
    border-bottom: 2px solid rgb(40, 40, 40);
}

.custom-nav .nav-link{
    background-color: rgb(90, 90, 90);
    color: white;
    border:0;
    border-bottom: 2px solid rgb(40, 40, 40);
    border-radius: 0;
    padding:0;
    padding-left: 5px;
    padding-right: 5px;
}

.custom-nav .nav-link:hover{
    cursor: pointer;
    background-color: rgb(60, 60, 60);
    color: white;
    border:0;
    border-bottom: 2px solid rgb(40, 40, 40);
}

.custom-nav .nav-link.active{
    background-color: rgb(40, 40, 40);
    color: white;
    border:0;
    border-bottom: 2px solid rgb(40, 40, 40);
}

.full-size {
    height: 100vh;
    width: 100vw;
    /* Full viewport height */
    display: flex;
    flex-wrap: nowrap;
}

.chart-size {
    height: 50vh;
    width: 100%;
    display: flex;
    position: relative;
}

.flex-fill {
    flex: 1;
}

.navtab {
    background-color: rgb(90, 90, 90);
    color:white;
}

.product:hover {
    background-color: rgb(40, 40, 40);
}

.product {
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 0;
    padding: 0.3vh;
    padding-left: 1vh;
}

.charts {
    background-color: rgb(40, 40, 40);
    color: white
}